
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_rawCounts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_seuratV3_normalized.txt.gz:Zone.Identifier
Datasets/DUSP1/Sadness_GSE236739/GSE236739_raw_counts.csv.gz:Zone.Identifier
WorkSpace/combined.h5ad
WorkSpace/ProcessedData.h5ad
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_rawCounts.txt.gz:Zone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_seuratV3_normalized.txt.gz:Zone.Identifier
Datasets/DUSP1/Sadness_GSE236739/GSE236739_raw_counts.csv.gz:Zone.Identifier
./.venv/lib/python3.10/site-packages/llvmlite/binding/libllvmlite.so
./.venv/lib/python3.10/site-packages/jaxlib/xla_extension.so
./.venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
./.venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
./.venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
./.venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
./.venv/lib/python3.10/site-packages/nvidia/cufft/lib/libcufft.so.11
./.venv/lib/python3.10/site-packages/nvidia/nccl/lib/libnccl.so.2
./.venv/lib/python3.10/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./.venv/lib/python3.10/site-packages/nvidia/cublas/lib/libcublas.so.12
./.venv/lib/python3.10/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./.venv/lib/python3.10/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./.venv/lib/python3.10/site-packages/triton/_C/libtriton.so
./.venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.so
./.venv/lib/python3.10/site-packages/torch/lib/libtorch_cuda.so
./Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_seuratV3_normalized.txt
./Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_rawCounts.txt
./.git/objects/fc/93cce27f827294308f24624d5018d9a1d6f89b
./.git/objects/f3/d5b95d1ca9844c474773d0aabd8f2bdf183b8a
./.git/objects/cc/4cf094f2092dda482784d0af77275acf258920
./WorkSpace/ProcessedData.h5ad
./WorkSpace/combined.h5ad
Datasets/DUSP1/U2OS_S4u_GSE216337/GSE216337_4su_exon_stranded_counts.csv
Datasets/DUSP1/Sadness_GSE236739/GSE236739_raw_counts.csv.gzZone.Identifier
Datasets/DUSP1/Sadness_GSE236739/GSE236739_raw_counts.csv.gz
Datasets/DUSP1/GSE216337_4su_exon_stranded_counts.csv
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_seuratV3_normalized.txt.gzZone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_seuratV3_normalized.txt
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_rawCounts.txt.gzZone.Identifier
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_scRNAseq_rawCounts.txt
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_bulkRNAseq_normalized_counts.txt.gzZone.Identifier
Datasets/Cardiac/GSM6118769_Galdos_Seq_Run2_filtered_feature_bc_matrix.h5
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213967_EtOH_rep1-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213967_EtOH_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213968_EtOH_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213968_EtOH_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213969_EtOH_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213970_D1hr_rep1-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213969_EtOH_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213970_D1hr_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213971_D1hr_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213971_D1hr_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213972_D1hr_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213972_D1hr_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213973_D2hr_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213974_D2hr_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213973_D2hr_rep1-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213974_D2hr_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213975_D2hr_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213975_D2hr_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213976_D4hr_rep1-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213977_D4hr_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213976_D4hr_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213977_D4hr_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213978_D4hr_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213978_D4hr_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213979_D8hr_rep1-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213979_D8hr_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213980_D8hr_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213980_D8hr_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213981_D8hr_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213981_D8hr_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213984_D18hr_rep3-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213984_D18hr_rep3-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213983_D18hr_rep2-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213983_D18hr_rep2-NOVA0058.STAR_hg19.neg.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213982_D18hr_rep1-NOVA0058.STAR_hg19.pos.bw
Datasets/DUSP1/A1-2_sc_Bulk_GSE141834/GSE141834_RAW/GSM4213982_D18hr_rep1-NOVA0058.STAR_hg19.neg.bw
